<div class="container" style="max-width: 400px; margin: auto;">

  <form autocomplete="on" #loginForm="ngForm">
    <div class="ui-g ui-fluid">
      <div class="ui-g-12">
        <h1>Login</h1>
      </div>

      <div class="ui-g-12">
        <input pInputText type="text" placeholder="E-mail"
          name="usuario" ngModel required #usuario>
      </div>

      <div class="ui-g-12">
        <input pInputText type="password" placeholder="Senha"
         name="senha" ngModel required #senha>
      </div>

      <div class="ui-g-12">
        <button pButton type="submit" label="Login" [disabled]="loginForm.invalid"
          (click)="login(usuario.value, senha.value); senha.value='';"></button>
      </div>

    </div>
  </form>
</div>
